{% load static %}


<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block css %} {% endblock %}

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <title>Королевские Пиццы</title>
</head>
<body>
  <header class="p-3 text-bg-dark position">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="{% url 'index' %}" class="nav-link px-2 text-white"><h1>Королевские Пиццы</h1></a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{% url 'about' %}" class="nav-link px-2 text-white">О нас</a></li>
          <li><a href="{% url 'contacts' %}" class="nav-link px-2 text-white">Контакты</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="" aria-label="Search">
        </form>

        {% if user.is_authenticated %}

        <div class="dropdown">
          <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Аккаунт
          </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'users:profile' %}">Профиль</a></li>
            <li><a class="dropdown-item" href="#">Заказы</a></li>
          {% if user.is_superuser or user.is_staff %}
            <li><a class="dropdown-item" href="{% url 'admin:index' %}">Админ панель</a></li>
          {% endif %}
          <li>
            <hr class="dropdown-divider">
          </li>
            <li><a class="dropdown-item" href="{% url 'users:logout' %}">Выйти</a></li>
        </ul>
        </div>
        {% else %}
        <div class="text-end">
          <a class="btn btn-outline-light me-2" href="{% url 'users:login' %}">Войти</a>
          <a class="btn btn-warning" href="{% url 'users:registration' %}">Зарегестрироваться</a>
        </div>
        {% endif %}
      </div>
    </div>
  </header>

  {% block content %} {% endblock %}


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
